asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.0
billiard==3.6.3.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
coala-utils==0.5.1
crcmod==1.7
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.2
idna==2.9
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
lxml==4.5.0
MarkupSafe==1.1.1
numpy==1.16.6
pandas==0.24.2
pathlib==1.0.1
pycrypto==2.6.1
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
requests==2.23.0
SecretStorage==2.3.1
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.9
Werkzeug==1.0.1
easy_nlp @ git+https://github.com/Moumeneb1/IRIT_INTERNSHIP#egg=IRIT_INTERNSHIP
